// Colors
$primary-color: #26313c;
$secondary-color:  #24CDD5;
$light:#808080;
$dark:#384141;
$white: #fff;

$linear-gradient-blue: linear-gradient(to right, #5192e1 0%, #23ced5 51%, #5192e1 100%);

// Font Sizes
$font-size-title: 48px;
$font-size-title_24: 24px;
$font-size-text: 18px;
$font-size-text_15: 15px;
$font-size-text_14: 14px;

// Letter spacing
$letter-sp-1: 1px;
$letter-sp-2: 2px;

// Font weights
$bold: 700;
$light-weight: 300;