.people-say{
    max-height: 370px;
    background-image: url(https://trax.acrothemes.com/bootstrap-v5/images/testimonial-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .feedback-title{
        padding-top: 8%;
    }
    .profil-card{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .img-box{
            width: 45%;
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%;
                border-radius: 50%;
                transition: 0.8s;
            }
        }

        &:hover .img-box img{
            transform: scale(1.1);
        }
    }
    
    .translate{
        transform: translateY(50px);
        .stars i{
            color: #e7e72f;
        }
    }
}

    