.slider{
    background-image: url(https://trax.acrothemes.com/bootstrap-v5/images/banner1-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100%;
    // .slider-title{
    //     transform: translateY(250px);
    // }
    &::before{
        position: absolute;
        content: '';
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
    }
    .slider-number{
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
        span{
            color: #fff;
            font-weight: $light-weight;
            z-index: 1;
        }
    }
    .title{
        text-align: center;
        text-transform: uppercase;
        z-index: 1;
        
        h2{
            font-size: 40px;
            font-weight: $light-weight;
            color: #fff;
        }
        .text-diff{
            font-weight: $bold;
        }
        p{
            font-size: $font-size-text_15;
            color: #fff;
        }
    }

    .sm-contact{
        z-index: 1;
        li{
            text-align: center;
        }
        i{
            color: #fff;
        }

        display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: 0.8s;
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            list-style: none;
            padding: 0;
            i{
                color: rgb(252, 238, 238);
                font-size: 14px;
            }
            li{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                text-align: center;
                padding-top: 6px;
                transition: 0.6s;
                position: relative;
            }
        }
        .instagram{
            background-image: rgb(56, 149, 224);
        }
        .facebook:hover{
            background-color: #3b5998 ;
        }
        .twitter:hover{
            background-color: #00acee ;
        }
        .linkedin:hover{
            background-color: #0e76a8;
        }

    .instagram::after{
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to top, #F58529, #FEDA77,  #DD2A7B, #8134AF, #515BD4);
        z-index: -1;
        opacity: 0;
    }
    .instagram:hover::after{
        opacity: 1;
        transition: 1s;
    }
    }
}

.slider .cards{
       position: absolute;
        top: 80%;
        width: 100%;
    .slider-card{
        height: 275px;
        background-color: $primary-color;
        text-align: center;
        padding: 30px;
        i{
            font-size: $font-size-title_24;
        }
        p{
            font-size: $font-size-text_14;
        }
    }
    .slider-card.diff{
        height: 300px;
       background-image: $linear-gradient-blue;
    }
}