.navbar{
    height: 80px;
    position: fixed;
    z-index: 999;
    width: 100%;
    color: wheat;
    transition: all 0.4s;
    .logo{
        img {
            width: 80%;
        }
        .display-none{
            display: none;
        }
        .inline-b{
            display: inline-block;
        }
    }
    .collapse{
        margin-right: 50px;
    }
    .nav-item .nav-link{
        font-size: $font-size-text_15;
        letter-spacing: $letter-sp-1;
        color: $white;
        transition: 0.3s;
        position: relative;
        &:hover{
            color: $secondary-color;
        }
        &::first-letter{
            text-transform: uppercase;
        }
    }

    .bars-logo{
        position: absolute;
        width: 30px;
        top: 27%;
        left: 94%;
        font-size: 24px;
        .fa-bars{
            color: $primary-color;
        }
    }
}