.counter{
    padding: 100px;
    background-image: url(https://trax.acrothemes.com/bootstrap-v5/images/counter-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .extra-large{
        font-size: 100px;
        margin: 0;
    }
}